<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AI advises the market - MetaBit</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- Vuejs -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>

  <div id="navbar"></div>
	<script>
		$("#navbar").load("navbar.html");
	</script>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>AI advises the market</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">AI</li>
          <li class="breadcrumb-item active">AI advises the market</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Select agricultural product name</h5>

              <form>
                <div class="row mb-3">
                  <div class="col-sm-4">
                    <select class="form-select" aria-label="Select name" v-model="nameProduct"
                      v-on:change="CreateNewGeneration">
                      <option v-for="(ele, index) in listData" :key="index" :item="ele" :index="index"
                        v-bind:value="index + 1">{{ele.name}}</option>
                    </select>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <div v-show="nameProduct != 0">
      <section class="section">
        <div class="row">
          <div class="col-lg">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><i class="bi bi-patch-check"></i> Top rated advice</h5>
                <p>{{ BestWhatToDo }}</p>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section class="section">
        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Top 10 other tips</h5>

                <!-- Bar Chart -->
                <div id="barChart"></div>
                <!-- End Bar Chart -->

              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Future price prediction</h5>

                <!-- Area Chart -->
                <div id="PriceChart"></div>
                <!-- End Area Chart -->

              </div>
            </div>
          </div>

          <div class="col-lg-6" v-for="(ele, index) in chart.diseases">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ ele.name }}</h5>

                <!-- Area Chart -->
                <div v-bind:id="'DiseaseChart-' + index"></div>
                <!-- End Area Chart -->

              </div>
            </div>
          </div>

      </section>

  </main><!-- End #main -->

  <div id="footer"></div>
	<script>
		$("#footer").load("footer.html");
	</script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vuejs -->
  <script>
    function getRndInteger(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    function getRndFoat(min, max) {
      return Math.floor(Math.random() * (max - min + 1) * 1000) / 1000 + min;
    }
    var vm = new Vue({
      el: '#main',
      data: {
        nameProduct: 0,
        listData: [
          { name: 'Watermelon', price: { min: 8000, max: 10000 } },
          { name: 'Rice', price: { min: 400, max: 10000 } },
          { name: 'Corn', price: { min: 400, max: 800 } },
          { name: 'Cassava', price: { min: 100000, max: 500000 } },
          { name: 'Grape', price: { min: 4000, max: 7000 } },
          { name: 'Logan', price: { min: 50000, max: 80000 } },
          { name: 'Dig', price: { min: 400, max: 500 } },
          { name: 'Chicken', price: { min: 30000, max: 300000 } },
          { name: 'Pig', price: { min: 400, max: 10000 } }
        ],
        BestWhatToDo: "",
        whatToDo: [
          "Store",
          "Buy more locally",
          "Import",
          "Cut the hole",
          "Transfer capital to other products slowly",
          "Import foreign goods",
          "Standby waiting for the opportunity",
          "Invest a lot in marketing",
          "Speed up the selling process",
          "Selling slowly",
          "Capital concentration",
          "Scattered capital",
          "Invest in other products",
          "Hurry sale",
          "Expanding the marketplace",
          "Call for investment",
          "Stable development holds the market",
          "Invest in more products related to current agricultural products"
        ],
        chart: {
          whatToDo: {
            values: [],
            labels: []
          },
          price: {
            values: []
          },
          diseases: []
        }
      },
      methods: {
        CreateNewGeneration: function () {
          {
            var dataRandom = [];
            var dataRandomName = [], dataRandomValue = [];
            var elG = this.whatToDo;
            for (var i = 0; i < elG.length; i++) {
              dataRandom.push({ name: elG[i], value: getRndInteger(0, 100) });
            }
            dataRandom.sort(function (a, b) { return b.value - a.value; });
            var llk = Math.min(10, elG.length);
            for (var i = 0; i < llk; i++) dataRandomName.push(dataRandom[i].name)
            for (var i = 0; i < llk; i++) dataRandomValue.push(dataRandom[i].value)
            var BestWhatToDo = "";
            for (var i = 0; i < llk; i++) {
              if (dataRandomValue[i] >= 80 || i == 0) BestWhatToDo += dataRandomName[i] + (i < llk - 1 && dataRandomValue[i + 1] >= 80 ? ", " : ".");
              else break;
            }
            this.chart.whatToDo.values = dataRandomValue;
            this.chart.whatToDo.name = dataRandomName;
            this.BestWhatToDo = BestWhatToDo;
          }
          {
            var dataRandom = [];
            var elG;
            dataRandom = [];
            elG = this.listData[this.nameProduct - 1];
            for (var i = 1; i <= 20; i++) dataRandom.push(getRndInteger(elG.price.min, elG.price.max));
            this.chart.price.values = dataRandom;
          }
          {
            var numDisease = getRndInteger(1, 6);
            var nameDisease = [
              ["Root rot", "Root rot", "Bacterial wilt", "Leaf rot", "Stem rot"],
              ["Fruit borer", "Leaf-roller", "Melon beetle", "Sit beetle", "Earthworm"]
            ];
            var nameList = ["Epidemic prediction: ", "Pest prediction: "];
            var snameList = ["Disease rate (%)", "Depth density (c/m2)"];
            var minmaxList = [{ min: 0, max: 100 }, { min: 0, max: 1000 }];
            var diseases = [];
            for (var i = 0; i < numDisease; i++) {
              var TypeDisease = getRndInteger(0, 1);
              var nameFinal = nameList[TypeDisease] + nameDisease[TypeDisease][getRndInteger(0, nameDisease[TypeDisease].length - 1)];
              var newElement = { name: nameFinal, sname: snameList[TypeDisease], values: [] };
              for (var j = 1; j <= 20; j++) newElement.values.push(getRndInteger(minmaxList[TypeDisease].min, minmaxList[TypeDisease].max));
              diseases.push(newElement);
            }
            this.chart.diseases = diseases;
          }
        }
      },
      updated: function () {
        this.$nextTick(function () {
          document.querySelector("#barChart").innerHTML = "";
          document.querySelector("#PriceChart").innerHTML = "";
        });
        this.$nextTick(function () {
          var elG = this.chart.whatToDo;
          new ApexCharts(document.querySelector("#barChart"), {
            series: [{
              name: "Accuracy level %",
              data: elG.values
            }],
            max: 100,
            min: 100,
            chart: {
              type: 'bar',
              height: 350
            },
            yaxis: {
              min: (min) => {
                return min;
              },
              max: (max) => {
                return max;
              }
            },
            plotOptions: {
              bar: {
                borderRadius: 4,
                horizontal: true,
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: elG.name,
            }
          }).render();
        });
        this.$nextTick(function () {
          var elG = this.chart.price;
          new ApexCharts(document.querySelector("#PriceChart"), {
            series: [{
              name: "vnđ",
              data: elG.values
            }],
            chart: {
              type: 'area',
              height: 350,
              zoom: {
                enabled: false
              }
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              curve: 'smooth'
            },
            subtitle: {
              text: 'Price Movements',
              align: 'left'
            },
            labels: [
              "13 Nov 2022",
              "14 Nov 2022",
              "15 Nov 2022",
              "16 Nov 2022",
              "17 Nov 2022",
              "20 Nov 2022",
              "21 Nov 2022",
              "22 Nov 2022",
              "23 Nov 2022",
              "24 Nov 2022",
              "27 Nov 2022",
              "28 Nov 2022",
              "29 Nov 2022",
              "30 Nov 2022",
              "01 Dec 2022",
              "04 Dec 2022",
              "05 Dec 2022",
              "06 Dec 2022",
              "07 Dec 2022",
              "08 Dec 2022"
            ],
            xaxis: {
              type: 'datetime',
            },
            yaxis: {
              opposite: true
            },
            legend: {
              horizontalAlign: 'left'
            }
          }).render();
        });
        this.$nextTick(function () {
          var elG = this.chart.diseases;
          for (var i = 0; i < elG.length; i++) {
            new ApexCharts(document.querySelector("#DiseaseChart-" + i), {
              series: [{
                name: elG[i].sname,
                data: elG[i].values
              }],
              chart: {
                type: 'area',
                height: 350,
                zoom: {
                  enabled: false
                }
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                curve: 'smooth'
              },
              subtitle: {
                text: 'Disease Movements',
                align: 'left'
              },
              labels: [
                "13 Nov 2022",
                "14 Nov 2022",
                "15 Nov 2022",
                "16 Nov 2022",
                "17 Nov 2022",
                "20 Nov 2022",
                "21 Nov 2022",
                "22 Nov 2022",
                "23 Nov 2022",
                "24 Nov 2022",
                "27 Nov 2022",
                "28 Nov 2022",
                "29 Nov 2022",
                "30 Nov 2022",
                "01 Dec 2022",
                "04 Dec 2022",
                "05 Dec 2022",
                "06 Dec 2022",
                "07 Dec 2022",
                "08 Dec 2022"
              ],
              xaxis: {
                type: 'datetime',
              },
              yaxis: {
                opposite: true
              },
              legend: {
                horizontalAlign: 'left'
              }
            }).render();
          }
        });
      },
    });
  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>